<div class="col-12 col-sm-8 mt-3 mb-3">
  <table class="table">
    <thead >
      <tr class="table-row">
        <th scope="col">#</th>
        <th scope="col">Marca</th>
        <th scope="col">Línea</th>
        <th scope="col">Modelo</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-row" *ngFor="let vehicle of allVehicles">
        <th scope="row">{{vehicle.id}}</th>
        <td>{{vehicle.marca}}</td>
        <td>{{vehicle.linea}}</td>
        <td>{{vehicle.modelo}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngFor="let item of countVehicles | keyvalue">
  Total {{item.key}}: {{item.value}}
</div>
